@theme {
  --color-primary: #FF3B00;
  --color-background: #F0F0F0;
  --color-surface: #FFFFFF;
  --color-text-main: #1A1A1A;
  --color-text-muted: #525252;

  --font-display: "Oswald", sans-serif;
  --font-default: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --breakpoint-xs: 23.4375rem;
}

html.dark {
  --color-background: #0a0a0a;
  --color-surface: #141414;
  --color-text-main: #dedada;
  --color-text-muted: #918e8e;
}
